:root {
  --text-color: grey;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.wrapper {
  min-height: 100vh;
}
.flex {
  display: flex;
}
.font-weight {
  font-weight: 600;
}
.headers {
  background-color: #20551b;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo {
  color: whitesmoke;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav-link-option ul {
  list-style: none;
  gap: 1rem;
}
.nav-link-option ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.bannerContainer {
  height: 60vh;
  padding: 1rem;
  background: #389938de;
  align-items: center;
}
.intro {
  width: 50%;
  color: whitesmoke;
}
.slidesContainer {
  width: 50%;
  height: 100%;
}
.option button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  background: #216dde;
  color: whitesmoke;
  border: none;
}
.option button:hover {
  background-color: #124797;
}
.carousel {
  height: 100%;
  width: 100%;
}
.carousel-inner {
  height: 100%;
  width: 70%;
}
.carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.hotOfferContainer {
  background-color: rgba(165, 161, 161, 0.555);
  padding: 1rem 0;
}
.hotOfferContainer h2 {
  text-align: center;
  color: rgb(85, 80, 80);
}
.hotContainer {
  width: 100%;
  justify-content: space-around;
}
.productHot {
  width: 20%;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  padding-bottom: 0.5rem;
}

.hotImage {
  width: 100%;
  height: 80%;
}
.hotImage img {
  width: 100%;
  height: 100%;
}
.hot-price {
  font-size: 1.3rem;
}
.desc {
  justify-content: space-around;
  gap: 1rem;
}
.buy-button {
  width: 80%;
}
.buy-button > button {
  width: 100%;
}
.order-option-section {
  margin-top: 5%;
  background: whitesmoke;
  text-align: center;
}

.order-option-section h2 {
  color: rgb(85, 80, 80);
}

.order-option {
  width: 100%;
  padding: 2rem 0;
  justify-content: space-evenly;
}

.delivery {
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.delivery i {
  padding: 2rem;
  background: rgba(184, 176, 176, 0.712);
  border-radius: 50%;
  color: grey;
}
.delivery .btn {
  width: 50%;
  border-radius: 1rem;
}

@media (max-width: 690px) {
  .intro {
    width: 100%;
  }
  .option {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
  }
  .option > button {
    width: 100%;
    padding: 1.3rem 1rem;
  }
  .bannerContainer {
    flex-direction: column-reverse;
  }
  .hotContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .productHot {
    width: 60%;
  }
  .order-option {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .delivery {
    width: 60%;
  }
}
